WindowsForms/Connected Services/ServiceReferencePrinter/GetUsersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetUsersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58299/GetUsersService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58299/GetUsersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58299/GetUsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetUsersService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IGetUsersService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUsersService_GetAvailableAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAmount" />
  </wsdl:message>
  <wsdl:message name="IGetUsersService_GetAvailableAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUsersService_ReloadMoneyUID_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadMoneyUID" />
  </wsdl:message>
  <wsdl:message name="IGetUsersService_ReloadMoneyUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadMoneyUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUsersService_getUsernameByCardID_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsernameByCardID" />
  </wsdl:message>
  <wsdl:message name="IGetUsersService_getUsernameByCardID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsernameByCardIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetUsersService">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUsersService/GetUsers" message="tns:IGetUsersService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUsersService/GetUsersResponse" message="tns:IGetUsersService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUsersService/GetAvailableAmount" message="tns:IGetUsersService_GetAvailableAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUsersService/GetAvailableAmountResponse" message="tns:IGetUsersService_GetAvailableAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadMoneyUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUsersService/ReloadMoneyUID" message="tns:IGetUsersService_ReloadMoneyUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUsersService/ReloadMoneyUIDResponse" message="tns:IGetUsersService_ReloadMoneyUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsernameByCardID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUsersService/getUsernameByCardID" message="tns:IGetUsersService_getUsernameByCardID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUsersService/getUsernameByCardIDResponse" message="tns:IGetUsersService_getUsernameByCardID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetUsersService" type="tns:IGetUsersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IGetUsersService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAmount">
      <soap:operation soapAction="http://tempuri.org/IGetUsersService/GetAvailableAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadMoneyUID">
      <soap:operation soapAction="http://tempuri.org/IGetUsersService/ReloadMoneyUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsernameByCardID">
      <soap:operation soapAction="http://tempuri.org/IGetUsersService/getUsernameByCardID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUsersService">
    <wsdl:port name="BasicHttpBinding_IGetUsersService" binding="tns:BasicHttpBinding_IGetUsersService">
      <soap:address location="http://localhost:58299/GetUsersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>